@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2>Add a Cuisine</h2>

<h4>Add cuisinse to this restaurant: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RestaurantId)
  @Html.Label("Select a cuisine")
  @Html.DropDownList("CuisineId")

  <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>